<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rapor Yönetim Sistemi</title>
</head>
<body>
<h2>Rapor Oluştur ve Dosya Yükle</h2>
<form th:action="@{/}" th:object="${report}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>İsim:</td>
            <td><input type="text" th:field="*{name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;">Hata</td>
        </tr>
        <tr>
            <td>Dosya:</td>
            <td><input type="file" name="file" required /></td>
        </tr>
        <tr>
            <td><button type="submit">Gönder</button></td>
        </tr>
    </table>
</form>
</body>
</html>